.offcanvas-body ul{
    list-style-type: none;
    font-size: 17px;
    font-weight: 600;
}

.offcanvas-body li{
    padding: 7px;
    border-radius: 20px;
}

.offcanvas-body li:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}



@media screen and (max-width: 550px) {
    .search { 
        display: none;
        visibility: hidden;
    } 
}